<%= form_tag user_sessions_path, :method => :post, class: "ui form" do %>
  <div class="ui stacked segment">
    <div class="field">
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions">
      <%= submit_tag "Login", class: "ui fluid large teal submit button"  %>
    </div>
  </div>
<% end %>
